header {
    background: linear-gradient(20deg, #18ccc0, #80deea);
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, .3);
    border: 0;
    margin-bottom: 20px;
    text-align: center;
}

header img {

    margin: 10px;
}


hr {
    width: 100%;
}


footer {
    background: linear-gradient(20deg, #18ccc0, #80deea);
    border: 0;
    margin: 20px 0 0 0;
    padding: 6px;
    color: white;
    text-align: center;
    font-size: 11px;
}
